@media (max-width: 1440px) {
}
@media (max-width: 1200px) {
}
@media (max-width: 1024px) {
  .header-nav {
    display: none;
  }
  .hero-title h2 {
    font-size: 33px;
  }
  .hero-title h2 span {
    font-size: 29px;
  }
  .hero-title p {
    font-size: 12px;
  }
  .work-dsl img {
    width: 450px;
  }
  .work-dsl-title h1 {
    font-size: 26px;
  }
  .work-dsl-title h1 span {
    font-size: 26px;
  }
  .work-dsl-title p {
    font-size: 12px;
  }
  .work-dsl-title p span {
    font-size: 12px;
  }

  .hero-title button {
    padding: 10px 12px;
    font-size: 14px;
  }
  .hero img {
    width: 500px;
  }
  .block img {
    width: 85px;
  }
  .service-h1 h1 {
    font-size: 25px;
  }
  .block p {
    font-size: 14px;
  }
  .block button {
    padding: 8px 8px;
    font-size: 13px;
  }
  .footr-block-left h3 {
    font-size: 16px;
  }
  .footr-block-left p {
    font-size: 14px;
  }
  .footer-block-right h1 {
    font-size: 22px;
  }
  .footer-block-right p {
    font-size: 14px;
  }
}
@media (max-width: 992px) {
  .hero {
    flex-direction: column;
  }
  .hero-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 15px;
  }
  .hero-title h2 {
    text-align: center;
    font-size: 25px;
  }
  .hero-title h2 span {
    font-size: 23px;
  }
  .hero-title p {
    text-align: center;
  }

  .hero img {
    width: 430px;
  }
  .work-dsl img {
    width: 430px;
  }
  .work-dsl {
    flex-direction: column;
  }
  .work-dsl-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .work-dsl-title {
    text-align: center;
  }
  .block p {
    font-size: 12px;
  }
  .block h1 {
    font-size: 23px;
  }
  .block button {
    padding: 8px 8px;
    font-size: 13px;
  }
  .block img {
    width: 80px;
  }
}
@media (max-width: 576px) {
  .hero img {
    width: 90%;
  }
  .work-dsl img {
    width: 90%;
  }
  .blocks {
    flex-direction: column;
  }
  .block {
    text-align: center;
  }
  .footer {
    width: 90%;
  }
  .footr-block-left h3 {
    font-size: 15px;
  }
  .footer-block-right h1 {
    font-size: 15px;
  }
  .footr-block-left p {
    font-size: 12px;
  }
  .footer-block-right p {
    font-size: 12px;
  }
}
@media (max-width: 451px) {
  .footer {
    width: 90%;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 400px) {
}

@media (max-width: 376px) {
}
@media (max-width: 320px) {
  .hero-title p {
    font-size: 10px;
  }
  .work-dsl-title p {
    font-size: 10px;
  }
  .work-dsl-title p span {
    font-size: 10px;
  }
  .work-dsl-title p {
    font-size: 10px;
  }
}
